<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andresornelas.whichcontainer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:name="com.andresornelas.whichcontainer.WhichContainerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.andresornelas.whichcontainer.SelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.andresornelas.whichcontainer.EstimationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.andresornelas.whichcontainer.ResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.andresornelas.whichcontainer.svc.WCService" />

        <provider
            android:name="com.andresornelas.whichcontainer.data.WCProvider"
            android:authorities="com.andresornelas.whichcontainer"
            android:exported="false" />
        
    </application>

</manifest>
